html,
body,
#app {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.self-mr-top {
  margin-top: 5px;
}
.self-mr-right {
  margin-right: 7px;
}
.self-lr-right {
  margin-right: 20px;
}
.self-mr-left {
  margin-left: 7px;
}
.fz12 {
  font-size: 12px;
}
.fz14 {
  font-size: 14px;
}
.orangered {
  color: orangered;
}
.grey {
  color: #bbbbbb;
}
.self-textarea {
  outline: 0;
  border: none;
  width: 100%;
  height: 100%;
}
.imgSmall {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transform: translate(0px, 8px)
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.tac {
  text-align: center;
}
.clearfix:after{
  content: "";
  display: block;
  height: 0;
  clear:both;
  visibility: hidden;
}
.clearfix{
  *zoom: 1;
}