html,
body,
#app {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.self-mr-top {
  margin-top: 5px;
}
.self-mr-right {
  margin-right: 7px;
}
.fz12 {
  font-size: 12px;
}
.fz14 {
  font-size: 14px;
}
.orangered {
  color: orangered;
}
